<footer>
    <div class="footer-container">
        <p>&copy; <%= new Date().getFullYear() %> Sports & Outdoor Activities. All rights reserved.</p>
        <div class="social-icons">
            <a href="#" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>

<!-- Font Awesome for Icons -->
<script src="https://kit.fontawesome.com/13f58083b9.js" crossorigin="anonymous"></script>
