<header>
    <div class="logo">
        <a href="/">
            <img src="/images/hiking-logo.jpg" alt="Sports Logo">
        </a>
        <span class="site-title">Sports & Outdoor Activities</span>
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/newEvent.css">
    </div>
    <nav>
        <ul>
            <% if (!currentUser) { %>
                <li><a href="/users/signup">Sign Up</a></li>
                <li><a href="/users/login">Login</a></li>
            <% } else { %>
                <li><a href="/users/profile">Profile (<%= currentUser.firstName %>)</a></li>
                <li><a href="/events/new">New Event</a></li>
                <li><a href="/users/logout">Logout</a></li>
            <% } %>
            
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
