<%- include('partials/header') %>

<main>
    <div class="hero-container">
        <img src="/images/middle-image.jpg" alt="Sports & Outdoor" class="hero-image">
        <div class="hero-content">
            <h1 class="hero-title">Welcome to Sports & Outdoor Adventures</h1>
            <p class="hero-description">Explore thrilling outdoor activities, join exciting events, and connect with fellow sports enthusiasts.</p>
            <a href="/events" class="hero-btn">Explore Events</a>
        </div>
    </div>
    
</main>

<%- include('partials/footer') %>
